<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="dev4">
	
	<listeners>
		<listener class-name="dev.utilities.Reporting"></listener>
	</listeners>
	
  <test thread-count="5" name="dev4Testing">
	  <parameter name="Browser" value="chrome"></parameter>
    <classes>
		<class name="dev.TestCases.LoginPageTesting"/>
        
     </classes>
  </test> <!-- dev4Testing -->
  

</suite> <!-- dev4 -->
